## Use Pandas to compute mean, median, and variance

In this activity, you will consolidate the skills you've acquired in the last exercise and use Pandas to do the same basic mathematical calculations as in the first activity of NumPy.   
We'll use the `world_population.csv` dataset again.   
Pandas has some special ways of indexing elements which will be discussed in more detail in the next activities.

#### Loading the dataset

In [1]:
# importing the necessary dependencies
import pandas as pd

In [2]:
# loading the Dataset
dataset = pd.read_csv('./data/world_population.csv', index_col=0)

In [3]:
# looking at the first two rows of the dataset
dataset.head()

,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,1966,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
Country Name,,,,,,,,,,,,,,,,,,,,,
Aruba,ABW,Population density (people per sq. km of land ...,EN.POP.DNST,NaN,307.972222,312.366667,314.983333,316.827778,318.666667,320.622222,...,562.322222,563.011111,563.422222,564.427778,566.311111,568.850000,571.783333,574.672222,577.161111,NaN
Andorra,AND,Population density (people per sq. km of land ...,EN.POP.DNST,NaN,30.587234,32.714894,34.914894,37.170213,39.470213,41.800000,...,180.591489,182.161702,181.859574,179.614894,175.161702,168.757447,161.493617,154.863830,149.942553,NaN
Afghanistan,AFG,Population density (people per sq. km of land ...,EN.POP.DNST,NaN,14.038148,14.312061,14.599692,14.901579,15.218206,15.545203,...,39.637202,40.634655,41.674005,42.830327,44.127634,45.533197,46.997059,48.444546,49.821649,NaN
Angola,AGO,Population density (people per sq. km of land ...,EN.POP.DNST,NaN,4.305195,4.384299,4.464433,4.544558,4.624228,4.703271,...,15.387749,15.915819,16.459536,17.020898,17.600302,18.196544,18.808215,19.433323,20.070565,NaN
Albania,ALB,Population density (people per sq. km of land ...,EN.POP.DNST,NaN,60.576642,62.456898,64.329234,66.209307,68.058066,69.874927,...,108.394781,107.566204,106.843759,106.314635,106.013869,105.848431,105.717226,105.607810,105.444051,NaN

---

#### Mean

In [4]:
# calculate the mean of the thrid row

In [12]:
# calculate the mean of the last row

In [6]:
# calculate the mean of the country Germany using the name as index

**Note:**   
`.iloc` and `.loc` can be used for indexing based on either the numerical index or on the index column.   
This will be covered in more detail in the next activity.

---

#### Median

In [7]:
# calculate the median of the last row

In [13]:
# calculate the median of the last 3 rows

In [9]:
# calculate the median of each row

---

#### Variance

In [10]:
# calculate the variance of each column

We can also get all the information about a given dataframe using the `dataset.describe()` method.   

**Note:**   
This only works with pandas dataframes.

In [11]:
# showing mean, var, std, and the percentiles for each feature (column)